:root {
    /* color */
    --black-color: #140a00;
    --white-color: #fff;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --dark-grey-color: #909090;
    --light-grey-color: #e0e0e0;

    /* size */
    --avatar-size: 36px;
    --padding: 12px;
    --padding-divider: 14px;

    /* font-size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    padding:0;
    margin:0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
}


button, 
button:focus{
    border: none;
    cursor: pointer;
    background-color: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding: var(--padding);
    background-color: var(--black-color);
    font-size: var(--font-large);
    padding: var(--padding);
}

header .logo svg {
    color: var(--red-color);
}

.header_icons {
    display: flex;
}

.header_icons li a .fa-search{
    padding-right: var(--padding);
}

.video {
    text-align: center;
    background-color: var(--black-color);   
    position: sticky;
    top: 0;
}

.video video {
    width: 100%;
    height: 100%;
    max-width: 800px;
}

.info{
    padding: 0 var(--padding-divider);
}

.info .metadata .hashTags ul {
    display: flex;
    color: var(--blue-color);
    padding-top: calc(var(--padding-divider)/2);
}

.info .metadata .hashTags ul li {
    padding-right: calc(var(--padding) / 2);
    font-size: var(--font-small);
}

.info .metadata .titleAndButton {
    display: flex;
    padding: calc(var(--padding)/2) 0;
}

.info .metadata .titleAndButton .title {
    font-size: var(--font-medium);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 표시하고자 하는 라인 수 */
    -webkit-box-orient: vertical;
}

.info .metadata .moreBtn {
    height: 100%;
}
.info .metadata .views {
    font-size: var(--font-small);
    color: var(--dark-grey-color);
}

.actions ul{
    display: flex;
    justify-content: space-around;
}

.actions button {
    display: flex;
    flex-direction: column;
    margin: var(--padding) 0;
    color: var(--dark-grey-color);
}

.actions svg {
    font-size: var(--font-large);
    margin: calc(var(--padding)/2) auto;
    margin-bottom: var(--padding);
}

.fa-thumbs-up.active {
    color: var(--blue-color);
}

.actions span {
    font-size: var(--font-small);
}

.info .channel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--light-grey-color);
    border-bottom: 1px solid var(--light-grey-color);
}

.info .channel .metadata {
    display: flex;
    padding: calc(var(--padding-divider) / 2) 0;
}

.info .channel .metadata .info {
    display: flex;
    flex-direction: column;
}

.info .channel .name {
    font-size: var(--font-medium);
}

.info .channel .subscribers {
    font-size: var(--font-small);
    color: var(--dark-grey-color);
}

.info .channel .metadata .avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.info .channel .subscribe {
    text-transform: uppercase;
}

.upNext {
    padding: calc(var(--padding)/2) var(--padding);
}

.upNext li {
    display: flex;
}

.upNext > .title {
    font-size: var(--font-medium);
    margin: calc(var(--padding)/2) 0;
}

.upNext .item {
    display: flex;
    padding: var(--padding) 0;
}

.upNext .item .img{
    flex: 1 1 45%
}
.upNext .item .img img {
    width: 100%
}

.upNext .item .info {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}
.upNext .item .moreBtn{
    flex: 1 1 5%
}

.upNext .item .info .title{
    font-size: var(--font-medium);
}

.upNext .item .info .name {
    font-size: var(--font-small);
    color: var(--dark-grey-color);
}
.upNext .item .info .views {
    font-size: var(--font-small);
}

.upNext .item .moreBtn {
    height: 100%
}

.infoAndUpNext {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .infoAndUpNext {
        flex-direction: row;
        padding: var(--padding) calc(var(--padding)/2);
    }
}